<div class="relative isolate overflow-hidden pt-14" x-intersect:leave.threshold.80="hasBackground = true" x-intersect.threshold.80="hasBackground = false">
    <img src="images/A_group_of_culturally_diverse_creators_collaborating_98ca68ac-724d-47e3-a0b4-d7ec640ab56a.png" alt="" class="brightness-50 absolute inset-0 -z-10 h-full w-full object-cover">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div x-data="{ show: false }" class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="text-center" x-intersect:leave="show = false"  x-intersect:enter="show = true" >
            <h1 x-bind:class="show ? 'scale-100 opacity-100' : 'scale-50 opacity-0'" class="text-4xl font-bold tracking-tight text-white sm:text-6xl transition duration-150 delay-200 ease-in-out">The future of social media starts now</h1>
            <p x-bind:class="show ? 'scale-100 opacity-100' : 'scale-50 opacity-0'" class="mt-6 text-lg leading-8 text-gray-300 transition duration-150 delay-500 ease-in-out">Digitalage is pioneering a revolutionary social media platform centered around elevating creators, protecting individual rights, and cultivating authentic communities.</p>
            <div x-bind:class="show ? 'scale-100 opacity-100' : 'scale-50 opacity-0'"  class="mt-10 flex items-center justify-center gap-x-6 transition duration-150 delay-700 ease-in-out">
                <a href="#" class="rounded-md bg-sky-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-sky-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">Get started</a>
                <a href="#" class="text-sm font-semibold leading-6 text-white">Learn more <span aria-hidden="true">→</span></a>
            </div>
        </div>
    </div>
    <div class="absolute inset-x-0 top-0 -z-10 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
        <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-full -translate-x-1/2 bg-gradient-to-tr from-[#cf1e45] to-[#18a4cd] opacity-20 sm:left-[calc(50%+36rem)] sm:w-full" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
</div>