<section class="px-8 py-12 max-w-3xl m-auto">
  <h4 class="text-center text-slate-300 text-4xl mb-4 font-extrabold">
    Join the Digitalage Community
  </h4>

  <p class="text-center text-lg text-white/50">
    We invite creators, consumers, partners and investors to help us reinvent
    social media technology for good. Sign up today to receive updates and early
    access.
  </p>

  <button
    x-text="button"
    class="rounded-md m-auto mt-6 block bg-sky-700 px-4 py-3 font-semibold text-white shadow-sm hover:bg-sky-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-400"
  ></button>

  <p class="text-xs text-center text-white/20 my-4">
    By building an ethical platform focused on transparency and putting
    principles first, Digitalage aims to restore trust in social systems and
    online communities. The future starts now - join us.
  </p>
</section>
