<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Digitalage | About Us</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/icons/site.webmanifest" />
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="/icons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="msapplication-TileImage" content="/icons/mstile-144x144.png" />
    <meta name="msapplication-config" content="/icons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css"
    />

    <!--    <script src="https://cdn.tailwindcss.com"></script>-->
    <script src="scripts/tailwind3.3.5.js"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"
      integrity="sha256-yPqP9Fer3NIS83oH7y8pLJmQEd/6vKpXf7Hh4Adsplg="
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.9/dist/htmx.min.js"
      integrity="sha256-lqM0qVcKOCz5xhofhtVYcLocZeFmzFvK6Y3djNq+uIY="
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-gray-950">
    <div
      class="bg-white"
      x-data="{ hasBackground: false, isDark: true, button: 'Join Digitalage Now', title: 'About Us', image: 'images/illustrated_team_member_headshots_elements_represent_869e6073-7ee5-4b77-8d6f-03b43aa5bdef.png' }"
    >
      <!-- HEADER -->
      <div hx-get="/partials/header.html" hx-trigger="load"></div>
      <div hx-get="/partials/page-top.html" hx-trigger="load"></div>

      <div
        class="w-full h-1"
        x-intersect:leave.margin.-64px="isDark = false"
        x-intersect:enter.margin.-64px="isDark = true"
      ></div>

      <section class="px-8 py-12 max-w-[768px] m-auto text-black/80">
        <p class="py-3 text-lg">
          Our Vision Digitalage envisions a social media landscape that empowers
          individuals, enriches lives, and fosters authentic connections.
        </p>
        <p class="py-3 text-lg">
          One where creators prosper, communities thrive, and users regain
          control over their digital experiences.
        </p>

        <p class="py-3 text-lg">
          Our Story Digitalage was founded in 2021 by tech entrepreneurs and
          social media pioneers dedicated to positively disrupting the status
          quo.
        </p>
        <p class="py-3 text-lg">
          They witnessed first-hand the ways existing social platforms exploit
          users and creators to drive engagement over wellbeing.
        </p>
        <p class="py-3 text-lg">
          Digitalage rises from those learnings - and functions on an ethical
          foundation of transparency, equity and trust.
        </p>
      </section>
      <section class="py-12 bg-neutral-50">
        <div class="max-w-[768px] px-8 m-auto">
          <div class="grid md:grid-cols-2 gap-12">
            <div>
              <h6 class="font-extrabold text-xl text-yellow-500">
                Our Values User Agency & Privacy
              </h6>
              <p class="text-black/50">
                We believe user needs trump all else. Our platform operations
                empower choice, control, and privacy
              </p>
            </div>
            <div>
              <h6 class="font-extrabold text-xl text-red-500">
                Creator Livelihoods
              </h6>
              <p class="text-black/50">
                We support creator success through fair compensation, IP
                protection and sustainable career paths.
              </p>
            </div>
            <div>
              <h6 class="font-extrabold text-xl text-sky-500">
                Content Integrity
              </h6>
              <p class="text-black/50">
                We leverage advanced analytics to promote accurate information
                and reduce harmful misinformation.
              </p>
            </div>
            <div>
              <h6 class="font-extrabold text-xl text-purple-500">
                Community Development
              </h6>
              <p class="text-black/50">
                We nurture inclusive environments optimized for meaningful
                connection without manipulation.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="py-12 max-w-[768px] px-8 m-auto text-sm">
        <p class="my-2">
          Our Team Digitalage unites world-class technologists, designers, data
          scientists and platform experts - all driven by our collective mission
          to positively transform social technology.
        </p>
        <p class="my-2">
          Leadership includes social media platform pioneers, AI specialists and
          digital media veterans. Investing in Our Future As a privately held
          company, Digitalage is actively raising funds from investors who share
          our vision.
        </p>
        <p class="my-2">
          Investment enables us to realize groundbreaking R&D, fuel responsible
          growth and meet the demands of our global user base.
        </p>
        <p class="my-2 font-bold">
          Interested in joining our founding team?
          <a href="#" class="text-sky-600 hover:underline"
            >Please get in touch!</a
          >
        </p>
      </section>
      <!-- JOIN NOW -->
      <div
        class="bg-slate-950"
        hx-get="/partials/join-now.html"
        hx-trigger="load"
      ></div>
    </div>
  </body>
</html>
