<header id="header" class="bg-slate-900/30 backdrop-blur-md border-b fixed top-0 border-slate-400/20 w-full z-50">

    <nav class="flex items-center justify-between p-2 lg:px-6" aria-label="Global">
        <a href="#" class="-m-1.5 p-1.5 md:grow-0">
            <span class="sr-only">Digitalage</span>
            <img class="h-12 w-auto" src="/logo/DAlogoLOCKUP_R_clear_light.png" alt="">
        </a>

        <ul class="hidden md:flex md:justify-center md:grow md:gap-x-12 text-white text-sm">
            <li><a>Feature</a></li>
            <li><a>Investors</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
        </ul>

        <div class="hidden md:flex md:grow-0 md:justify-end">
            <a href="#" class="text-sm font-semibold leading-6">Log in <span aria-hidden="true">&rarr;</span></a>
        </div>
    </nav>

</header>
